{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags %}

{% block header_left %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Barcode' %}</span>
        <span class="list-value">: {{ instance.barcode }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Name' %}</span>
        <span class="list-value">: {{ instance.name }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Category' %}</span>
        <span class="list-value">: {% firstof instance.category '-' %}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Suppliers' %}</span>
        <span class="list-value">:
            {% if instance.suppliers.all %}
                {% with instance.suppliers.all as suppliers %}
                    {% for supplier in suppliers %}
                        {{ supplier.name }}
                        {% if instance.suppliers.count > 1 %}, {% endif %}
                    {% endfor %}
                {% endwith %}
            {% endif %}
        </span>
    </li>
</ul>
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Description' %}</span> :
        <p class="list-value">{{ instance.description | safe }}</p>
    </li>
</ul>
{% endblock %}


{% block header_right %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Number' %}</span>
        <span class="list-value">: {{ instance.inner_id }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Date created' %}</span>
        <span class="list-value">: {{ instance.date_created }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Unit price' %}</span>
        <span class="list-value">: {{ instance.unit_price }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Unit of measure' %}</span>
        <span class="list-value">: {{ instance.unit_of_measure }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Min Stock' %}</span>
        <span class="list-value">: {{ instance.minimum_stock }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Max Stock' %}</span>
        <span class="list-value">: {{ instance.maximum_stock }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Status' %} :</span>
        <span class="list-value">:
            {% if instance.is_active %}
                {% trans 'Active' %}
            {% else %}
                {% trans 'Inactive' %}
            {% endif %}
        </span>
    </li>
</ul>
{% endblock %}


{% block body_listing %}
<table class="listing full-width">
    <thead>
    <tr>
        <th style="text-align: center" align="center">{% trans 'Consumable' %}</th>
        <th style="text-align: center" align="center">{% trans 'Stockable' %}</th>
        <th style="text-align: center" align="center">{% trans 'Bundle' %}</th>
        <th style="text-align: center" align="center">{% trans 'Sparepart' %}</th>
        <th style="text-align: center" align="center">{% trans 'Can be sold' %}</th>
        <th style="text-align: center" align="center">{% trans 'Can be purchased' %}</th>
        <th style="text-align: center" align="center">{% trans 'Locked' %}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="center">
            {% if instance.is_consumable %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.is_stockable %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.is_bundle %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.is_sparepart %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.can_be_sold %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.can_be_purchased %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
        <td align="center">
            {% if instance.is_locked %}
            <img src="{% static 'admin/img/icon-yes.svg' %}" alt="True">
            {% else %}
            <img src="{% static 'admin/img/icon-no.svg' %}" alt="True">
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>

{% if instance.product_specifications.all %}
<h3><i class="icon icon-fa-list"></i>
    <strong> {% trans 'Specifications' as spc %}{{ spc | upper }}</strong>
</h3>
<table class="listing full-width">
    <thead>
    <tr>
        <th>{% trans 'Feature' %}</th>
        <th>{% trans 'Value' %}</th>
        <th class="hide-sm">{% trans 'Note' %}</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.product_specifications.all as specs %}
    {% for item in specs %}
    <tr>
        <td>{{ item.feature }}</td>
        <td>{{ item.value }}</td>
        <td class="hide-sm">{% firstof item.note '-' %}</td>
    </tr>
    {% endfor %}
    {% endwith %}
    </tbody>
</table>
{% endif %}

{% if instance.spareparts.all %}
<h3><i class="icon icon-fa-list"></i>
    <strong>{% trans 'Spareparts' as prt %} {{ prt | upper }}</strong>
</h3>
<table class="listing full-width">
    <thead>
    <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Quantity Required' %}</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.spareparts.all as parts %}
    {% for item in parts %}
    <tr>
        <td>{{ item.sparepart.inner_id }}</td>
        <td>{{ item.sparepart }}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    </tbody>
</table>
{% endif %}
{% endblock %}
