body {
    -webkit-font-smoothing: antialiased;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 80%;
    line-height: 1.5em;
    color: #262626;
}

.hallotoolbar .icon[class*=" icon-fa-"]::before,
.hallotoolbar .icon[class^="icon-fa-"]::before,
.hallotoolbar .stream-menu .icon[class*=" icon-fa-"]::before,
.hallotoolbar .stream-menu .icon[class^="icon-fa-"]::before {
    font-size: 90%;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}