{% load static wagtailadmin_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <base href="http://localhost:8000"/>
    <link rel="stylesheet" media="all" href="{% static 'printpdf/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" media="all" href="{% static 'printpdf/css/print.css' %}" type="text/css"/>
    {% block extrastyle %}
        {% with settings.wag_printpdf.PrintPDFSetting as pdf %}
            {% if pdf.custom_css %}
                <style>
                {{ pdf.custom_css | safe }}
                </style>
            {% endif %}
        {% endwith %}
    {% endblock%}
</head>
<body>
<div id='wrapper'>
    {% block wrapper %}
    <div class="text-center">
        <div class="col-sm-12">
            {% block title %}
            <h2 class="page-title">{{ title }}</h2>
            {% endblock title %}
        </div>
    </div>
    {% block content %}
    {{ content }}
    {% endblock content %}
    {% endblock wrapper %}
</div>
</body>
</html>