body {
    -webkit-font-smoothing: antialiased;
    font-family: Open Sans, Arial, sans-serif;
    font-size: 80%;
    line-height: 1.5em;
    color: #262626;
}

.nav-main .menu-item a::before {
    font-size: 1rem;
    vertical-align: -20%;
    margin-left: -1.4em;
    position: absolute;
}

.nav-main a {
    text-decoration: none;
    display: block;
    color: #ccc;
    padding: .8em 1.7em .8em 2.8em;
    font-size: 1em;
    font-weight: 400;
}

.tab-nav li {
    width: auto;
    padding: 0;
    padding-left: 0px;
    margin-left: 0;
}

.tab-nav li:first-of-type {
    padding-left: 0;
}

.tab-nav a {
    background-color: #00676a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    padding: .7em 1.2em .9em;
    color: #fff;
    border-top: .3em solid #00676a;
    max-height: 1.2em;
    overflow: hidden;
}

.changelist-filter {
    padding: 0 0 !important;
}

.hallotoolbar .icon[class*=" icon-fa-"]::before,
.hallotoolbar .icon[class^="icon-fa-"]::before,
.hallotoolbar .stream-menu .icon[class*=" icon-fa-"]::before,
.hallotoolbar .stream-menu .icon[class^="icon-fa-"]::before {
    font-size: 90%;
}

.c-wagtailautocomplete__selection {
    background-color: #fafafa !important;
    color: #000;
    border: 1px solid #e6e6e6;
}
.c-wagtailautocomplete__suggestions__item--active {
    background-color: #f2fcfc !important;
    color: #000;
}

.c-wagtailautocomplete__search-icon {
    margin-left: 4px;
    margin-top: 2px;
    width: 30px !important;
}

.model_choice_field .autocomplete label {
    padding-top: 1.2em ;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}

.object .fields .multiple {
    width: 100%;
}

.object .field-row {
    padding-top: 0 !important;
}

.condensed-inline-panel__card-header > h2 {
    margin: 0;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 110px);
    font-weight: normal;
    font-size: inherit;
}

.condensed-inline-panel__add-button.icon.icon-plus-inverse {
    visibility: hidden;
}

/* CHOOSER */

.rmu_chooser.chooser .chosen::before,
.rmu_chooser.chooser.chooser .unchosen::before {
    content: "\f0e8";
}

.teacher_chooser.chooser .chosen::before,
.teacher_chooser.chooser.chooser .unchosen::before {
    content: "\f007";
}

.course_chooser.chooser .chosen::before,
.course_chooser.chooser.chooser .unchosen::before {
    content: "\f02d";
}


.custom_chooser.chooser .chosen::before,
.custom_chooser.chooser.chooser .unchosen::before {
  font-family: fontawesome;
  font-size: 1.5em;
  display:inline-block;
  margin-bottom: 5px
}

.field.rmu_chooser label {
  padding: 0
}