{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block extra_css %}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ edit_handler.form.media.css }}
    {{ view.media.css }}
    <link rel="stylesheet" href="{% versioned_static 'wagtailmodeladmin/css/breadcrumbs_page.css' %}" type="text/css"/>
{% endblock %}

{% block extra_js %}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ edit_handler.form.media.js }}
    {{ edit_handler.html_declarations }}

    {{ view.media.js }}
{% endblock %}

{% block content %}

    {% block header %}
        {% include "modeladmin/includes/header_with_breadcrumb.html" with title=view.get_page_title subtitle=view.get_page_subtitle icon=view.header_icon tabbed=True %}
    {% endblock %}

    <form action="{% block form_action %}{{ view.export_url }}{% endblock %}"{% if is_multipart %}
          enctype="multipart/form-data"{% endif %} method="POST" novalidate>

        <div class="nice-padding">
            {% csrf_token %}
            <ul class="fields">
                {% for field in form %}
                    {% include 'wagtailadmin/shared/field_as_li.html' %}
                {% endfor %}
            </ul>
        </div>

        {% block footer %}
            <footer role="contentinfo">
                <ul>
                    {% block form_actions %}
                        <li class="actions">
                            <div class="dropdown dropup dropdown-button match-width">
                                <button type="submit" class="button action-save button-longrunning"
                                        data-clicked-text="{% trans 'Export' %}">
                                    <span class="icon icon-spinner"></span><em>{% trans 'Export' %}</em>
                                </button>
                            </div>
                        </li>
                    {% endblock %}
                </ul>
            </footer>
        {% endblock %}
    </form>
{% endblock %}