{% extends 'base.html' %}
{% load i18n static wagtailsettings_tags %}
{% load account socialaccount %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'accounts/css/signin.css' %}">
{% endblock %}


{% block content %}

<form action="{% block form_action %} {{ app_path }} {% endblock %}" method="post" class="form-container">

    {% with settings.wagtailkitcore.CompanySettings as company %}
    <div class="form-header">
        <img class="logo" src="{{ company.logo.file.url }}" alt="{% firstof company.sitename 'Wagtail Logo' %}">
        <h1>{% block head_title %}{% firstof company.sitename 'Wagtail' %}{% endblock %}</h1>
    </div>
    {% endwith %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show small" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="form-signin">
        {% block form_body %}{% endblock %}
    </div>

    {% block form_footer %}
    <div class="form-footer">
        {{ form_footer }}
    </div>
    {% endblock %}

</form>

{% block extra_form %}{% endblock %}

{% endblock %}
