{% extends 'account/auth_base.html' %}
{% load i18n static wagtailsettings_tags %}
{% load account socialaccount %}

{% block title %}
    {% trans "Leave" %} {% firstof settings.wagtailkitcore.CompanySettings.sitename 'Wagtail' %}
{% endblock %}
{% block head_title %}{% trans "Leave" %} {% firstof company.sitename 'Wagtail' %}{% endblock %}
{% block form_action %}{% url 'account_logout' %}{% endblock %}

{% block form_body %}
<h1></h1>

<p class="small text-center">{% trans 'Are you sure you want to sign out ?' %}</p>
{% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="submit-row">
        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Yes, Let me Out' %}">
    </div>
{% endblock %}

{% block form_footer %}
    <div class="form-footer">
        <span>Thanks for spending some quality time with {% firstof settings.wagtailkitcore.CompanySettings.sitename 'Wagtail' %} today.</span>
    </div>
{% endblock %}
