{% extends "account/auth_base.html" %}
{% load i18n %}
{% load account %}


{% block title %}{% trans "Change Password" %}{% endblock %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block form_action %}{% url 'account_change_password' %} {% endblock %}

{% block form_body %}
    <div class="input-wrapper">
        {% csrf_token %}
        {{ form.as_p }}
    </div>
    <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Change Password' %}">
{% endblock %}

{% block form_footer %}{% endblock %}