{% extends 'account/auth_base.html' %}
{% load i18n static wagtailsettings_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset Sent!" %}{% endblock %}
{% block head_title %}{% trans "Password Reset Sent!" %}{% endblock %}

{% block form_body %}
    <p class="small text-center">
        {% blocktrans %}
        We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
        {% endblocktrans %}
    </p>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
{% endblock %}

{% block form_footer %}{% endblock %}