{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags wagtailcore_tags %}

{% block header_title%}
<h1 class="paper-title">{{ view.verbose_name }}</h1>
{% endblock %}

{% block header_left %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Requester' %}</span>
        <span class="list-value">: {{ instance.requester }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Department' %}</span>
        <span class="list-value">: {{ instance.department }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Deliver to' %}</span>
        <span class="list-value">: {{ instance.deliver_to }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Urgency' %}</span>
        <span class="list-value">: {{ instance.get_critical_status_display }}</span>
    </li>
</ul>
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Purpose of use' %}</span>
        <p class="list-value">{{ instance.title }}</p>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Description' %} :</span>
        <p class="list-value">{{ instance.description | safe }}</p>
    </li>
</ul>
{% endblock %}


{% block header_right %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Number' %}</span>
        <span class="list-value">: {{ instance.inner_id }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Created on' %}</span>
        <span class="list-value">: {{ instance.date_created }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Deadline' %}</span>
        <span class="list-value">: {{ instance.deadline }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Status' %} :</span>
        <span class="list-value">: {{ instance.status.title }}</span>
    </li>
</ul>
{% endblock %}

{% block body_listing %}

<table class="listing paper-listing">
    <thead>
    <tr>
        <th>Inner ID</th>
        <th>Product/Service</th>
        <th class="hide-sm">Category</th>
        <th>Req. Qty</th>
        <th>App. Qty</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.requested_inventories.all as inventories %}
    {% if inventories %}
        <tr>
            <td colspan="5"><strong>{% trans 'Inventories' as inv %}{{ inv | upper }}</strong></td>
        </tr>
    {% endif %}
    {% for item in inventories %}
    <tr>
        <td>{{ item.product.inner_id }}</td>
        <td><strong>{{ item.product.name }}</strong><br/>
            {% if item.product.specifications.all %}
            {% with item.product.specifications.all as specs %}
            <span class="spec">Specification:</span>
            <ul class="spec-list">
                {% for spec in specs %}
                <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                {% endfor %}
            </ul>
            {% endwith %}
            {% endif %}
        </td>
        <td class="hide-sm">{% firstof item.product.category '-' %}</td>
        <td>{{ item.quantity_requested }}</td>
        <td>{{ item.quantity_approved }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    {% with instance.requested_assets.all as assets %}
    {% if assets %}
        <tr>
            <td colspan="5"><strong>{% trans 'Assets' as asst %}{{ asst | upper }}</strong></td>
        </tr>
    {% endif %}
    {% for item in assets %}
    <tr>
        <td>{{ item.product.inner_id }}</td>
        <td><strong>{{ item.product.name }}</strong><br/>
            {% if item.product.specifications.all %}
            {% with item.product.specifications.all as specs %}
            <span class="spec">Specification:</span>
            <ul class="spec-list">
                {% for spec in specs %}
                <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                {% endfor %}
            </ul>
            {% endwith %}
            {% endif %}
        </td>
        <td class="hide-sm">{% firstof item.product.category '-' %}</td>
        <td>{{ item.quantity_requested }}</td>
        <td>{{ item.quantity_approved }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    {% with instance.requested_new_products.all as new_products %}
    {% if new_products %}
        <tr>
            <td colspan="5"><strong>{% trans 'New Products' as nwpd %}{{ nwpd | upper }}</strong></td>
        </tr>
    {% endif %}
    {% for item in new_products %}
    <tr>
        <td>{{ item.inner_id }}</td>
        <td colspan="2">
            <strong>{{ item.name }}</strong>
            {% if item.picture %}
                <a href="{{ item.picture.file.url }}" target="_blank">{% trans 'View' %}
            </a>{% endif %}<br/>
            {{ item.description | richtext }}
        </td>
        <td>{{ item.quantity_requested }}</td>
        <td>{{ item.quantity_approved }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    </tbody>
</table>


{% endblock %}