{% extends 'modeladmin/print_base.html' %}
{% load static i18n wagtailadmin_tags wagtailcore_tags %}

{% block content %}
<div class=row">
    <div class="col col-sm-8">
        <ul class="head-list">
            <li class="head-list-item">
                <span class="list-label">{% trans 'Requester' %}</span>
                <span class="list-value">: {{ instance.requester }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label"> {% trans 'Department' %}</span>
                <span class="list-value">: {{ instance.department }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label"> {% trans 'Deliver to' %}</span>
                <span class="list-value">: {{ instance.deliver_to }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label"> {% trans 'Urgency' %}</span>
                <span class="list-value">: {{ instance.get_critical_status_display }}</span>
            </li>
        </ul>
        <ul class="head-list">
            <li class="head-list-item">
                <span class="list-label">{% trans 'Purpose of use' %}</span>
                <p class="list-value">{{ instance.title }}</p>
            </li>
            <li class="head-list-item">
                <span class="list-label"> {% trans 'Description' %} :</span>
                <p class="list-value">{{ instance.description | safe }}</p>
            </li>
        </ul>
    </div>
    <div class="col col-sm-4">
        <ul class="head-list">
            <li class="head-list-item">
                <span class="list-label">{% trans 'Number' %}</span>
                <span class="list-value">: {{ instance.inner_id }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label">{% trans 'Created on' %}</span>
                <span class="list-value">: {{ instance.date_created }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label">{% trans 'Deadline' %}</span>
                <span class="list-value">: {{ instance.deadline }}</span>
            </li>
            <li class="head-list-item">
                <span class="list-label">{% trans 'Status' %} :</span>
                <span class="list-value">: {{ instance.status.title }}</span>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="listing paper-listing">
            <thead>
            <tr>
                <th>Inner ID</th>
                <th>Product/Service</th>
                <th class="hide-sm">Category</th>
                <th>Req. Qty</th>
                <th>App. Qty</th>
            </tr>
            </thead>
            <tbody>
            {% with instance.requested_inventories.all as inventories %}
            {% if inventories %}
            <tr>
                <td colspan="4"><strong>{% trans 'Inventories' as inv %}{{ inv | upper }}</strong></td>
            </tr>
            {% endif %}
            {% for item in inventories %}
            <tr>
                <td>{{ item.product.inner_id }}</td>
                <td><strong>{{ item.product.name }}</strong><br/>
                    {% if item.product.specifications.all %}
                    {% with item.product.specifications.all as specs %}
                    <span class="spec">Specification:</span>
                    <ul class="spec-list">
                        {% for spec in specs %}
                        <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                        {% endfor %}
                    </ul>
                    {% endwith %}
                    {% endif %}
                </td>
                <td class="hide-sm">{{ item.product.category }}</td>
                <td>{{ item.quantity_requested }}</td>
                <td>{{ item.quantity_approved }}</td>
            </tr>
            {% endfor %}
            {% endwith %}

            {% with instance.requested_assets.all as assets %}
            {% if assets %}
            <tr>
                <td colspan="4"><strong>{% trans 'Assets' as asst %}{{ asst | upper }}</strong></td>
            </tr>
            {% endif %}
            {% for item in assets %}
            <tr>
                <td>{{ item.product.inner_id }}</td>
                <td><strong>{{ item.product.name }}</strong><br/>
                    {% if item.product.specifications.all %}
                    {% with item.product.specifications.all as specs %}
                    <span class="spec">Specification:</span>
                    <ul class="spec-list">
                        {% for spec in specs %}
                        <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                        {% endfor %}
                    </ul>
                    {% endwith %}
                    {% endif %}
                </td>
                <td class="hide-sm">{{ item.product.category }}</td>
                <td>{{ item.quantity_requested }}</td>
                <td>{{ item.quantity_approved }}</td>
            </tr>
            {% endfor %}
            {% endwith %}

            {% with instance.requested_new_products.all as new_products %}
            {% if new_products %}
            <tr>
                <td colspan="4"><strong>{% trans 'New Products' as nwpd %}{{ nwpd | upper }}</strong></td>
            </tr>
            {% endif %}
            {% for item in new_products %}
            <tr>
                <td>{{ item.inner_id }}</td>
                <td colspan="1"><strong>{{ item.name }}</strong><br/>
                    {{ item.description | richtext }}
                </td>
                <td>{{ item.quantity_requested }}</td>
                <td>{{ item.quantity_approved }}</td>
            </tr>
            {% endfor %}
            {% endwith %}

            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col-sm-8">&nbsp;</div>
    <div class="col-sm-4 text-center">
        <p>
            {% trans 'Requester' %}<br/>
            {{ instance.requester }}<br/>
            {{ instance.department }}
        </p> <br/><br/><br/>
        <p>
            <strong>{{ instance.creator.person }}</strong><br/>
            {{ instance.creator.person.employee.eid }}
        </p>
    </div>
</div>
{% endblock %}