{% load i18n wagtailadmin_tags %}
{% if result.row_errors %}
    <div style="overflow-x: scroll; width: 100%">
    <table class="listing full-width">
        <thead>
        <tr>
            <th colspan="2"><strong>{% trans "Line Errors" %}</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for line, errors in result.row_errors %}
            {% for error in errors %}
                <tr>
                    <td>{% trans "Line number" %}: {{ line }} - {{ error.error }}</td>
                    <td><code>{{ error.row.values|join:", " }}</code></td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}