{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags wagtailcore_tags %}

{% block header_left %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Inner ID' %}</span>
        <span class="list-value">: {{ instance.inner_id }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Management Unit' %}</span>
        <span class="list-value">: {{ instance.rmu }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Course Type' %}</span>
        <span class="list-value">: {{ instance.course_type }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Course Group' %}</span>
        <span class="list-value">: {{ instance.course_group }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'KKNI Level' %}</span>
        <span class="list-value">: {{ instance.level }} / {{ instance.get_level_display }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Year Offered' %}</span>
        <span class="list-value">: {{ instance.year_offered }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Teaching method' %}</span>
        <span class="list-value">: {{ instance.teaching_method }}</span>
    </li>
</ul>
{% endblock %}

{% block header_right %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Has syllabus' %}</span>
        <span class="list-value">: {{ instance.has_syllabus }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Has LPU' %}</span>
        <span class="list-value">: {{ instance.has_lpu }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Has dictate' %}</span>
        <span class="list-value">: {{ instance.has_dictate }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Has teaching material' %}</span>
        <span class="list-value">: {{ instance.has_teaching_material }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Has practice program' %}</span>
        <span class="list-value">: {{ instance.has_practice_program }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Active' %}</span>
        <span class="list-value">: {{ instance.is_active }}</span>
    </li>
</ul>
{% endblock %}

{% block body_listing %}

{% with instance.syllabuses.all as syllabuses %}
{% if syllabuses %}
    <h2>{% trans 'Syllabuses' %}</h2>
    <table class="listing full-width">
        <thead>
        <tr>
            <th width="70">{% trans 'ID' %}</th>
            <th>{% trans 'Title' %}</th>
            <th>{% trans 'Creator' %}</th>
            <th style="text-align: center" width="120">{% trans 'Date created' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in syllabuses %}
        <tr>
            <td>{{ item.inner_id }}</td>
            <td>{{ item.title }}</td>
            <td>{% firstof item.creator '-' %}</td>
            <td style="text-align: center">{{ item.date_created }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endwith %}

{% with instance.course_curriculums.all as courses %}
{% if courses %}
    <h2>{% trans 'Curriculums' %}</h2>
    <table class="listing full-width">
        <thead>
        <tr>
            <th width="70">{% trans 'Code' %}</th>
            <th>{% trans 'Curriculum' %}</th>
            <th style="text-align: center" width="80">{% trans 'Semester' %}</th>
            <th style="text-align: center" width="80">{% trans 'SKS Meeting' %}</th>
            <th style="text-align: center" width="80">{% trans 'SKS Practice' %}</th>
            <th style="text-align: center" width="80">{% trans 'SKS Field Practice' %}</th>
            <th style="text-align: center" width="80">{% trans 'SKS Simulation' %}</th>
            <th style="text-align: center" width="80">{% trans 'SKS Total' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in courses %}
        <tr>
            <td>{{ item.curriculum.code }}</td>
            <td>{{ item.curriculum.name }}</td>
            <td align="center">{{ item.semester_number }}</td>
            <td align="center">{{ item.sks_meeting }}</td>
            <td align="center">{{ item.sks_practice }}</td>
            <td align="center">{{ item.sks_field_practice }}</td>
            <td align="center">{{ item.sks_simulation }}</td>
            <td align="center">{{ item.sks_total }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endwith %}

{% with instance.get_teachers as teachers %}
{% if teachers %}
    <h2>{% trans 'Teachers' %}</h2>
    <table class="listing full-width">
        <thead>
        <tr>
            <th width="70">{% trans 'ID' %}</th>
            <th>{% trans 'Teacher' %}</th>
            <th>{% trans 'Homebase' %}</th>
            <th style="text-align: center" width="80">{% trans 'Active' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in teachers %}
        <tr>
            <td>{{ item.tid }}</td>
            <td>{{ item.employee.person }}</td>
            <td>{{ item.rmu }}</td>
            <td style="text-align: center">{{ item.is_active }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endwith %}


{% endblock %}