{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags wagtailcore_tags %}


{% block header_title %}
    <h1 class="paper-title">{% trans 'Academic Calendar' %}</h1>
{% endblock %}


{% block header_left %}
<ul class="head-list">
    {% if instance.religion %}
    <li class="head-list-item">
        <span class="list-label">{% trans 'Religion' %}</span>
        <span class="list-value">: {{ instance.religion }}</span>
    </li>
    {% endif %}
    {% if instance.nation %}
    <li class="head-list-item">
        <span class="list-label">{% trans 'Nation' %}</span>
        <span class="list-value">: {{ instance.nation }}</span>
    </li>
    {% endif %}
    {% if instance.date_of_birth %}
    <li class="head-list-item">
        <span class="list-label">{% trans 'Date of birth' %}</span>
        <span class="list-value">: {{ instance.date_of_birth }}</span>
    </li>
    {% endif %}
    {% if instance.place_of_birth %}
    <li class="head-list-item">
        <span class="list-label">{% trans 'Place of birth' %}</span>
        <span class="list-value">: {{ instance.place_of_birth }}</span>
    </li>
    {% endif %}
</ul>
{% if instance.address %}
<ul class="head-list">
    {% for address in instance.address.all %}
    <li class="head-list-item">
        <span class="list-label">{% trans 'Address' as ads %}{% firstof address.name ads %}:</span>
        <p class="list-value">
            {{ address.street1 | safe }} {{ address.street2 | safe }} <br/>
            {% firstof address.city %} {% firstof address.province %} <br/>
            {% firstof address.country %} {% firstof address.zipcode %}
        </p>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}


{% block header_right %}
{% endblock %}

{% block body_listing %}
<table class="listing full-width">
    <thead>
    <tr>
        <th>{% trans 'RMU' %}</th>
        <th>{% trans 'Activity' %}</th>
        <th>{% trans 'Date Start' %}</th>
        <th>{% trans 'Date End' %}</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.academic_activities.all as acts %}
    {% for item in acts %}
    <tr>
        <td>{{ item.rmu }}</td>
        <td>{{ item.activity | richtext }}</td>
        <td>{{ item.date_start }}</td>
        <td>{{ item.date_end }}</td>
    </tr>
    {% endfor %}
    {% endwith %}
    </tbody>
</table>

{% endblock %}