{% load i18n wagtailcore_tags wagtailadmin_tags %}

<h3 style="margin-left: -15px;"><strong>{% trans 'Employee Informations' as fe_employee %} {{ fe_employee | upper }}</strong></h3>
<ul class="head-list">
  {% if employee.eid %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'EID' %}</span>
    <span class="list-value">: {{ employee.eid }}</span>
  </li>
  {% endif %}
  {% if employee.position %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'Position' %}</span>
    <span class="list-value">: {{ employee.position.name }}</span>
  </li>
  {% endif %}
  {% if employee.position.department %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'Department' %}</span>
    <span class="list-value">: {{ employee.position.department }}</span>
  </li>
  {% endif %}
  {% if employee.date_registered %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'Date registered' %}</span>
    <span class="list-value">: {{ employee.date_registered }}</span>
  </li>
  {% endif %}
  {% if employee.employment %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'Employment' %}</span>
    <span class="list-value">: {{ employee.employment }}</span>
  </li>
  {% endif %}
</ul>
{% if employee.extra_positions.all %}
{% with employee.extra_positions.all as extras %}
<ul class="head-list">
  {% for pos in extras %}
  <li class="head-list-item">
    <span class="list-label">{% trans 'Extra Positions' %}</span>
    <p class="list-value">
      {{ pos.position }} / {{ pos.position.department }} /
      {% if pos.is_active %}{% trans 'active' %}{% else %}{% trans 'Inactive' %}{% endif %}
    </p>
  </li>
  {% endfor %}
</ul>
{% endwith %}
{% endif %}