{% load i18n %}

<h3><strong>{% trans 'Family relationships' as families %} {{ families | upper }}</strong></h3>
<table class="listing full-width">
  <thead>
  <tr>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'Relation' %}</th>
    <th>{% trans 'Relationship' %}</th>
    <th>{% trans 'Date of birth' %}</th>
    <th>{% trans 'Place of birth' %}</th>
    <th>{% trans 'Job' %}</th>
    <th>{% trans 'Address' %}</th>
  </tr>
  </thead>
  <tbody>
  {% with instance.families.all as families %}
  {% for item in families %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{% firstof item.get_relation_display '-' %}</td>
    <td>{% firstof item.relationship '-' %}</td>
    <td>{% firstof item.date_of_birth '-' %}</td>
    <td>{% firstof item.place_of_birth '-' %}</td>
    <td>{% firstof item.job '-' %}</td>
    <td>{% firstof item.address '-' %}</td>
  </tr>
  {% endfor %}
  {% endwith %}
  </tbody>
</table>