{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags wagtailcore_tags %}


{% block header_left %}{% endblock %}
{% block header_right %}{% endblock %}

{% block body_listing %}

{% with instance.get_courses_by_semester as semesters %}
{% if semesters %}

    {% for semester in semesters %}
        <h2>Semester {{ semester.semester }}</h2>
        <table class="listing full-width">
            <thead>
            <tr>
                <th width="100">{% trans 'Course ID' %}</th>
                <th>{% trans 'Course' %}</th>
                <th style="text-align: center" width="80">{% trans 'SKS Meeting' %}</th>
                <th style="text-align: center" width="80">{% trans 'SKS Practice' %}</th>
                <th style="text-align: center" width="80">{% trans 'SKS Field Practice' %}</th>
                <th style="text-align: center" width="80">{% trans 'SKS Simulation' %}</th>
                <th style="text-align: center" width="80">{% trans 'SKS Total' %}</th>
            </tr>
            </thead>
            <tbody>
            {% with semester.semester_courses as courses %}
            {% for item in courses %}
            <tr>
                <td>{{ item.course.inner_id }}</td>
                <td>{{ item.course.name }}</td>
                <td align="center">{{ item.sks_meeting }}</td>
                <td align="center">{{ item.sks_practice }}</td>
                <td align="center">{{ item.sks_field_practice }}</td>
                <td align="center">{{ item.sks_simulation }}</td>
                <td align="center">{{ item.sks_total }}</td>
            </tr>
            {% endfor %}
            {% endwith %}
            <tr>
                <td width="80" colspan="2">
                    {% trans 'TOTAL COURSE' %}: {{ semester.course_count }}
                </td>
                <td align="center">{{ semester.sks_meeting }}</td>
                <td align="center">{{ semester.sks_practice }}</td>
                <td align="center">{{ semester.sks_field_practice }}</td>
                <td align="center">{{ semester.sks_simulation }}</td>
                <td align="center">{{ semester.sks_total }}</td>
            </tr>
            </tbody>
        </table>
    {% endfor %}

{% endif %}
{% endwith %}

<h2>Curriculum {% trans 'Summary' %}</h2>
<table class="listing full-width">
    <thead>
    <tr>
        <th>{% trans 'Course Type' %}</th>
        <th style="text-align: center" width="85">{% trans 'University' %}</th>
        <th style="text-align: center" width="85">{% trans 'Faculty' %}</th>
        <th style="text-align: center" width="85">{% trans 'Major' %}</th>
        <th style="text-align: center" width="85">{% trans 'Program Study' %}</th>
        <th style="text-align: center" width="85">{% trans 'Total' %}</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.get_summary as summary %}
    <tr>
        <td>{% trans 'Mandatory' %}</td>
        <td align="center">{{ summary.sks_mu }}</td>
        <td align="center">{{ summary.sks_mf }}</td>
        <td align="center">{{ summary.sks_mm }}</td>
        <td align="center">{{ summary.sks_mp }}</td>
        <td align="center">{{ summary.sks_mandatory }}</td>
    </tr>
    <tr>
        <td>{% trans 'Choice' %}</td>
        <td align="center">{{ summary.sks_cu }}</td>
        <td align="center">{{ summary.sks_cf }}</td>
        <td align="center">{{ summary.sks_cm }}</td>
        <td align="center">{{ summary.sks_cp }}</td>
        <td align="center">{{ summary.sks_choice }}</td>
    </tr>
    <tr>
        <td>{% trans 'Interest' %}</td>
        <td align="center">{{ summary.sks_iu }}</td>
        <td align="center">{{ summary.sks_if }}</td>
        <td align="center">{{ summary.sks_im }}</td>
        <td align="center">{{ summary.sks_ip }}</td>
        <td align="center">{{ summary.sks_interest }}</td>
    </tr>
    <tr>
        <td>{% trans 'Research' %}</td>
        <td align="center">{{ summary.sks_ru }}</td>
        <td align="center">{{ summary.sks_rf }}</td>
        <td align="center">{{ summary.sks_rm }}</td>
        <td align="center">{{ summary.sks_rp }}</td>
        <td align="center">{{ summary.sks_research }}</td>
    </tr>
    <tr>
        <td>{% trans 'TOTAL' %}</td>
        <td align="center">{{ summary.sks_tu }}</td>
        <td align="center">{{ summary.sks_tf }}</td>
        <td align="center">{{ summary.sks_tm }}</td>
        <td align="center">{{ summary.sks_tp }}</td>
        <td align="center">{{ summary.sks_total }}</td>
    </tr>
    {% endwith %}
    </tbody>
</table>

{% endblock %}