{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags %}


{% block header_title %}
{% if instance.person.user_account %}
    <span class="avatar" style="width: 150px; height: 150px;">
        <img src="{% avatar_url instance.person.user_account size=150 %}" alt=""/>
    </span>
{% endif %}
<h2 class="list-value">
    {{ instance.person.fullname_with_title }}
</h2>
{% endblock %}

{% block header_left %}
  {% include 'modeladmin/persons/person/includes/basic_information.html' with instance=instance.person %}
  {% include 'modeladmin/persons/person/includes/employee_information.html' with employee=instance %}
{% endblock %}

{% block header_right %}
  {% include 'modeladmin/persons/person/includes/contacts.html' with instance=instance.person %}
{% endblock %}


{% block body_listing %}
    {% if instance.person.skill_sets.all %}
        {% include 'modeladmin/persons/person/includes/skill.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.awards.all %}
        {% include 'modeladmin/persons/person/includes/award.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.education_histories.all %}
        {% include 'modeladmin/persons/person/includes/formal_education.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.nonformaleducation_histories.all %}
        {% include 'modeladmin/persons/person/includes/nonformal_education.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.working_histories.all %}
        {% include 'modeladmin/persons/person/includes/working.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.organization_histories.all %}
        {% include 'modeladmin/persons/person/includes/organization.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.publications.all %}
        {% include 'modeladmin/persons/person/includes/publication.html' with instance=instance.person %}
    {% endif %}

    {% if instance.person.families.all %}
        {% include 'modeladmin/persons/person/includes/family.html' with instance=instance.person %}
    {% endif %}
{% endblock %}