{% extends 'intranet/mail/base.html' %}
{% load i18n static wagtailcore_tags %}

{% block content %}
<table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
    <tr>
        <td colspan="2" align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
            <table>
                <tr>
                    <td colspan="2" align="left" style="font-size:0px;padding:0 15px 10px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            # {{ instance.inner_id }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Requester' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.requester }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Department' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.department }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Deliver to' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.deliver_to }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Created on' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.date_created }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Deadline' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.deadline }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Urgency' %}
                        </span>
                    </td>
                    <td align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            : {{ instance.get_critical_status_display }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" style="font-size:0px;padding:15px 15px 0;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:18px;text-align:left;color:#637381;">
                            {% trans 'Purpose of use' %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            {{ instance.title }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="left" style="font-size:0px;padding:15px 15px 0;word-break:break-word;">
                        <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:18px;text-align:left;color:#637381;">
                            {{ instance.description | richtext }}
                        </span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left" style="font-size:0px;padding:0 15px;word-break:break-word;">
            <table width="100%" style="border-bottom: 1px solid #ffffff; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ebf0f4;">
                <thead>
                    <tr style="border-top: 1px solid #ffffff; background: #ebf0f4;">
                        <th align="left" style="font-size:0px; padding:8px 15px ;word-break:break-word;">
                            <span style="text-transform: uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:16px;text-align:left;color:#637381;">
                                {% trans 'Product' %}
                            </span>
                        </th>
                        <th align="right" style="font-size:0px; padding:8px 15px;word-break:break-word;">
                            <span style="text-transform: uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:16px;text-align:left;color:#637381;">
                                {% trans 'QTY' %}
                            </span>
                        </th>
                        <th align="right" style="font-size:0px; padding:8px 15px;word-break:break-word;">
                            <span style="text-transform: uppercase; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:700;line-height:16px;text-align:left;color:#637381;">
                                {% trans 'APV' %}
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% with instance.requested_inventories.all as inventories %}
                    {% if inventories %}
                            <tr style="border-top: 1px solid #ffffff; background: #f9f9f9;">
                                <td align="left" colspan="3" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                       {% trans 'Inventories' %}
                                    </span>
                                </td>
                            </tr>
                        {% for item in inventories %}
                            <tr style="border-top: 1px solid #ffffff;">
                                <td align="left" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        <span style="font-size: 10px;">{{ item.product.inner_id }}</span><br/>{{ item.product.name }}
                                    </span>
                                </td>
                                <td align="right" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        {{ item.quantity_requested }}
                                    </span>
                                </td>
                                <td align="right" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        {{ item.quantity_approved }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% with instance.requested_assets.all as assets %}
                    {% if assets %}
                            <tr style="border-top: 1px solid #ffffff; background: #f9f9f9;">
                                <td align="left" colspan="3" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                       {% trans 'Assets' %}
                                    </span>
                                </td>
                            </tr>
                        {% for item in assets %}
                            <tr style="border-top: 1px solid #ffffff;">
                                <td align="left" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        <span style="font-size: 10px;">{{ item.product.inner_id }}</span><br/>{{ item.product.name }}
                                    </span>
                                </td>
                                <td align="right" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        {{ item.quantity_requested }}
                                    </span>
                                </td>
                                <td align="right" style="font-size:0px; padding:5px 15px;word-break:break-word;">
                                    <span style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:left;color:#637381;">
                                        {{ item.quantity_approved }}
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <tr style="padding: 5px; height: 5px;">
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" style="font-size:0px;padding:0 15px; word-break:break-word;">
            <p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:center;color:#637381;">
                <strong>{% trans 'Creator' %}</strong><br/>
                {{ instance.requester }}<br/>
                {{ instance.department }}<br/>
            </p>
            <br/>
            <p style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;font-weight:400;line-height:16px;text-align:center;color:#637381;">
                <strong style="text-decoration: underline">{{ instance.creator }}</strong><br/>
                {{ instance.creator.person.employee.eid }}<br/>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                   style="border-collapse:separate;line-height:100%;">
                <tr>
                    <td align="center" bgcolor="#687ae8" role="presentation"
                        style="border:none;border-radius:3px;cursor:auto;padding:10px 25px;background:#687ae8;"
                        valign="middle">
                        <a href="https://google.com"
                           style="background:#687ae8;color:#ffffff;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';font-size:17px;font-weight:normal;line-height:120%;Margin:0;text-decoration:none;text-transform:none;"
                           target="_blank">
                            Validate
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="font-size:0px;padding:10px 25px;word-break:break-word;">
            <div style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:12px;font-weight:400;line-height:24px;text-align:left;color:#637381;">
                If you worried, please mail us at <a href="" style="color:#687ae8">support@darmajaya.ac.id</a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
