{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags %}

{% block header_title %}
    <h1 class="">{% trans 'Internal Memo' %}</h1>
    <h2>{{ instance.inner_id }}</h2>
{% endblock %}

{% block header_left %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'To:' %}</span>
        <span class="list-value">
            <ul>
                {% if instance.receiver.all %}
                {% with instance.receiver.all as receivers %}
                    {% for receiver in receivers %}
                        <li>{{ receiver }}</li>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            </ul>
        </span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'CC:' %}</span>
        <span class="list-value">
            <ul>
                {% if instance.cc.all %}
                {% with instance.cc.all as ccs %}
                    {% for cc in ccs %}
                        <li>{{ cc }}</li>
                    {% endfor %}
                {% endwith %}
            {% endif %}
            </ul>
        </span>
    </li>
</ul>
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Subject' %}</span> :
        <p class="list-value">{{ instance.title | safe }}</p>
    </li>
</ul>
{% endblock %}


{% block header_right %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'From:' %}</span>
        <span class="list-value">: {{ instance.creator }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Date created' %}</span>
        <span class="list-value">: {{ instance.date_created }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Status' %} :</span>
        <span class="list-value">:
            {% if instance.is_active %}
                {% trans 'Active' %}
            {% else %}
                {% trans 'Inactive' %}
            {% endif %}
        </span>
    </li>
</ul>
{% endblock %}


{% block body_listing %}
    {{ instance.body }}
{% endblock %}
