{% extends "modeladmin/wagtailkit/inspect.html" %}
{% load i18n static wagtailadmin_tags wagtailsettings_tags %}

{% block header_title%}
<h1 class="paper-title">{{ view.verbose_name }}</h1>
{% endblock %}

{% block header_left %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Request order' %}</span>
        <span class="list-value">: {{ instance.request_order }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Requester' %}</span>
        <span class="list-value">: {{ instance.requester }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Department' %}</span>
        <span class="list-value">: {{ instance.department }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Deliver to' %}</span>
        <span class="list-value">: {{ instance.deliver_to }}</span>
    </li>
</ul>
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Title' %} :</span>
        <p class="list-value">{{ instance.title }}</p>
    </li>
    <li class="head-list-item">
        <span class="list-label"> {% trans 'Description' %} :</span>
        <p class="list-value">{{ instance.description }}</p>
    </li>
</ul>
{% endblock %}

{% block header_right %}
<ul class="head-list">
    <li class="head-list-item">
        <span class="list-label">{% trans 'Number' %}</span>
        <span class="list-value">: {{ instance.inner_id }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Created on' %}</span>
        <span class="list-value">: {{ instance.date_created }}</span>
    </li>
    <li class="head-list-item">
        <span class="list-label">{% trans 'Status' %} :</span>
        <span class="list-value">: {{ instance.status.title }}</span>
    </li>
</ul>
{% endblock %}

{% block body_listing %}
{% if instance.inventory_transfers.all or instance.assets_transfers.all %}
<table class="listing paper-listing">
    <thead>
    <tr>
        <th>Inner ID</th>
        <th>Product/Service</th>
        <th class="hide-sm">Category</th>
        <th>Note</th>
        <th>Qty</th>
    </tr>
    </thead>
    <tbody>
    {% with instance.inventory_transfers.all as inventories %}
    {% for item in inventories %}
    <tr>
        <td>{{ item.product.inner_id }}</td>
        <td><strong>{{ item.product.name }}</strong><br/>
            {% if item.product.specifications.all %}
            {% with item.product.specifications.all as specs %}
            <span class="spec">Specification:</span>
            <ul class="spec-list">
                {% for spec in specs %}
                <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                {% endfor %}
            </ul>
            {% endwith %}
            {% endif %}
        </td>
        <td>{% firstof item.category '-' %}</td>
        <td>{% firstof item.note '-' %}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    {% with instance.asset_transfers.all as assets %}
    {% for item in assets %}
    <tr>
        <td>{{ item.product.inner_id }}</td>
        <td><strong>{{ item.product.name }}</strong><br/>
            {% if item.product.specifications.all %}
            {% with item.product.specifications.all as specs %}
            <span class="spec">Specification:</span>
            <ul class="spec-list">
                {% for spec in specs %}
                <li>{{ spec.feature }}, {{ spec.value }}, {% firstof spec.note '-' %}</li>
                {% endfor %}
            </ul>
            {% endwith %}
            {% endif %}
        </td>
        <td class="hide-sm">{% firstof item.product.category '-' %}</td>
        <td>{% firstof item.note '-' %}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    {% endfor %}
    {% endwith %}

    </tbody>
</table>
{% endif %}
{% endblock %}