{% extends 'modeladmin/print_base.html' %}
{% load static i18n wagtailadmin_tags wagtailcore_tags wagtailsettings_tags %}

{% block wrapper %}
<div class="page-footer">
    {% if settings.wagtailkitcore.CompanySettings %}
        <p align="center">
        {% firstof settings.wagtailkitcore.CompanySettings.tagline '' %}<br/>
        {% firstof settings.wagtailkitcore.CompanySettings.website '' %}
        </p>
    {% else %}
        {% with settings.printpdf.PrintPDFSetting as pdf %}
            {{ pdf.content_header | safe }}
        {% endwith %}
    {% endif %}
</div>
{% endblock %}