.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


.section-title {
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    display: block;
    width: 100%;
}

.signin-btn {
    margin-top: 15px;
    padding: .8em 1.8em 1em;
    font-size: 1em;
    font-weight: 700;
}

.bg-dark {
    background-color: #333 !important;
}