{% load i18n %}

<h3><strong>{% trans 'Awards' as awards %} {{ awards | upper }}</strong></h3>
<table class="listing full-width">
  <thead>
  <tr>
    <th>{% trans 'Name' %}</th>
    <th>{% trans 'Description' %}</th>
    <th>{% trans 'Date' %}</th>
  </tr>
  </thead>
  <tbody>
  {% with instance.awards.all as awards %}
  {% for item in awards %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{% firstof item.description '-' %}</td>
    <td>{{ item.date }}</td>
  </tr>
  {% endfor %}
  {% endwith %}
  </tbody>
</table>