{% load i18n wagtailcore_tags wagtailadmin_tags wagtailkit_tags %}

<style>
  #employee-summary {
    border-top: 5px solid #ffffff;
    background-color: #fafafa;
    display: block;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 15px;
    margin-bottom: 0;
    color: #666666;
  }

  .summary-head {
    margin-bottom: 25px;
    font-weight: 700;
    margin-top: 0;
    padding: 15px;
    background: #2d676a;
    display: inline-block;
    margin-left: 50px;
    color: #ffffff;
  }

  .row {
    margin-bottom: 15px;
    display: block;
  }

  .stats {
    padding: 0;
  }

  .stats .number,
  .stats .status {
    text-align: center;
    display: block;
  }

  .stats .number {
    font-size: 1.5em;
    font-weight: 700;
  }

  .statbar {
    padding: 3px;
  }

  .bar {
    border: 1px solid #007d7e;
    padding: 0;
    text-align: center;
    background: #bad4d5;
  }

  .bar .value {
    display: block;
    width: 0;
    height: 20px;
    background: #70b8bb;
  }

  .bar .caption {
    position: absolute;
    font-size: .9em;
    margin-top: -19px;
    text-align: center;
    display: block;
    width: inherit;
    margin-left: 5px;
  }

</style>

<div id="employee-summary" class="panel summary">

  <h2 class="summary-head">{% trans 'Human Resource' %}</h2>
  <div class="row nice-padding">
    <div class="stats col2">
      <span class="number">{{ summary.count_total }}</span>
      <span class="status">Total</span>
    </div>
    <div class="stats col2">
      <span class="number">{{ summary.count_active }}</span>
      <span class="status">Active</span>
    </div>
    <div class="stats col2">
      <span class="number">{{ summary.count_inactive }}</span>
      <span class="status">Inactive</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_tetap|percent:summary.count_total }}%"></div>
          <div class="caption">
            {{ summary.count_tetap|percent:summary.count_total }}% ({{ summary.count_tetap }}/{{ summary.count_total }})
          </div>
        </div>
      </div>
      <span class="status">Tetap</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_kontrak|percent:summary.count_total }}%"></div>
          <div class="caption">
            {{ summary.count_kontrak|percent:summary.count_total }}% ({{ summary.count_kontrak }}/{{ summary.count_total }})
          </div>
        </div>
      </div>
      <span class="status">Kontrak</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_outsource|percent:summary.count_total }}%"></div>
          <div class="caption">
            {{ summary.count_outsource|percent:summary.count_total }}% ({{ summary.count_outsource }}/{{ summary.count_total }})
          </div>
        </div>
      </div>
      <span class="status">Outsource</span>
    </div>
  </div>

  <div class="row nice-padding">
    <div class="stats col2">
      <span class="status">
        {% trans 'Employees' %}<br/>
        {% trans 'By education level' %}<br/>
        <a href="{% url 'employees_employee_modeladmin_index' %}">{% trans 'View Table' %}</a>
      </span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_sma_active|percent:summary.count_total }}%"></div>
          <div class="caption">
            {{ summary.count_sma_active|percent:summary.count_total }}% ({{ summary.count_sma_active }}/{{ summary.count_total }})
          </div>
        </div>
      </div>
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_sma_inactive|percent:summary.count_total }}%"></div>
          <div class="caption">
            {{ summary.count_sma_inactive|percent:summary.count_total }}% ({{ summary.count_sma_inactive }}/{{ summary.count_total }})
          </div>
        </div>
      </div>
      <span class="status">SMA/Lower</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_d3_active|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_d3_active|percent:summary.count_total }}% ({{ summary.count_d3_active }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_d3_inactive|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_d3_inactive|percent:summary.count_total }}% ({{ summary.count_d3_inactive }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <span class="status">D1/D2/D3</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s1_active|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s1_active|percent:summary.count_total }}% ({{ summary.count_s1_active }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s1_inactive|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s1_inactive|percent:summary.count_total }}% ({{ summary.count_s1_inactive }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <span class="status">S1</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s2_active|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s2_active|percent:summary.count_total }}% ({{ summary.count_s2_active }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s2_inactive|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s2_inactive|percent:summary.count_total }}% ({{ summary.count_s2_inactive }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <span class="status">S2</span>
    </div>
    <div class="stats col2">
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s3_active|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s3_active|percent:summary.count_total }}% ({{ summary.count_s3_active }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <div class="statbar">
        <div class="bar">
          <div class="value" style="width: {{ summary.count_s3_inactive|percent:summary.count_total }}%"></div>
          <div class="caption">{{ summary.count_s3_inactive|percent:summary.count_total }}% ({{ summary.count_s3_inactive }}/{{ summary.count_total }})</div>
        </div>
      </div>
      <span class="status">S3</span>
    </div>
  </div>

</div>